{# Radio Button Setting Template #}
<div class="mb-3">
    <div class="d-flex w-100 align-items-center justify-content-between">
        {% if setting.name %}
        <strong class="mb-1">{{ setting.name }}</strong>
        {% endif %}
        
        {% if setting.info %}                             
        <a data-bs-toggle="collapse" href="#{{ setting.id }}_info" role="button">
            <i class="bi bi-info-circle"></i>
        </a>
        {% endif %}
    </div>
    
    {% if setting.info %}
    <div class="collapse p-2" id="{{ setting.id }}_info">
        <div class="card card-body">
            <p class="mb-0">{{ setting.info }}</p>
            {% if setting.warning %}
            <div class="alert alert-warning" role="alert">
                {{ setting.warning }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    
    {% for option in setting.options %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ setting.id }}" id="{{ setting.id }}_{{ option.value }}"
            value="{{ option.value }}"
            {% if setting.get("value") is not none and setting.get("value")|int == option.value|int %}
                checked
            {% elif setting.get("value") is none and setting.get("default")|int == option.value|int %}
                checked
            {% endif %}
            {% if not option.enabled %}disabled{% endif %}
            {% if "show_child" in option %}data-show-child="{{ option.show_child|lower }}"{% endif %}
            onchange="updateRadioSetting('{{ setting.id }}', '{{ option.value }}')">
        <label class="form-check-label" for="{{ setting.id }}_{{ option.value }}">
            {{ option.label }}
        </label>
    </div>
    {% endfor %}
          
    {% if setting.validation_text %}
    <small class="text-muted">
        {{ setting.validation_text.replace("{min}", setting.min|string).replace("{max}", setting.max|string) }}
    </small>
    {% endif %}
    {% if setting.hr %}
    <hr>
    {% endif %}
</div>