{'filename': 'pimage_camera_0_1744064423.jpg', 'timestamp': '2025-04-07 22:20:23', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064423.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744064421.jpg', 'timestamp': '2025-04-07 22:20:21', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064421.dng', 'width': 4056, 'height': 3040},
{'filename': 'pimage_camera_0_1744064212.jpg', 'timestamp': '2025-04-07 22:16:52', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064212.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744064205.jpg', 'timestamp': '2025-04-07 22:16:45', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064205.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744064202.jpg', 'timestamp': '2025-04-07 22:16:42', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064202.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744064198.jpg', 'timestamp': '2025-04-07 22:16:38', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744064198.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744063373.jpg', 'timestamp': '2025-04-07 22:02:53', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744063373.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744063144.jpg', 'timestamp': '2025-04-07 21:59:04', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744063144.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744063141.jpg', 'timestamp': '2025-04-07 21:59:01', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744063141.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_0_1744062526.jpg', 'timestamp': '2025-04-07 21:48:46', 'has_dng': False, 'dng_file': 'pimage_camera_0_1744062526.dng', 'width': 4056, 'height': 3040}, 
{'filename': 'pimage_camera_1_1743780812.jpg', 'timestamp': '2025-04-04 15:33:32', 'has_dng': True, 'dng_file': 'pimage_camera_1_1743780812.dng', 'width': 4608, 'height': 2592}, 
{'filename': 'pimage_camera_1_1743780534.jpg', 'timestamp': '2025-04-04 15:28:54', 'has_dng': False, 'dng_file': 'pimage_camera_1_1743780534.dng', 'width': 4608, 'height': 2592}, 
{'filename': 'pimage_camera_1_1743680301.jpg', 'timestamp': '2025-04-03 11:38:21', 'has_dng': False, 'dng_file': 'pimage_camera_1_1743680301.dng', 'width': 4608, 'height': 2592}]



current_page_files{'filename': 'pimage_camera_1_1743680301.jpg', 'timestamp': '2025-04-03 11:38:21', 'has_dng': False,
'dng_file': 'pimage_camera_1_1743680301.dng', 'width': 4608, 'height': 2592}