{% extends 'base.html' %}

{% block content %}
<style>
    /* Custom CSS only for this page */
    .feature-icon-small {
    width: 3rem;
    height: 3rem;
    }
    .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    }


      .list-group {
  width: 100%;
  max-width: 460px;
  margin-inline: 1.5rem;
}

.form-check-input:checked + .form-checked-content {
  opacity: .5;
}

.form-check-input-placeholder {
  border-style: dashed;
}
[contenteditable]:focus {
  outline: 0;
}

.list-group-checkable .list-group-item {
  cursor: pointer;
}
.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.list-group-item-check:hover + .list-group-item {
  background-color: var(--bs-secondary-bg);
}
.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}

.list-group-radio .list-group-item {
  cursor: pointer;
  border-radius: .5rem;
}
.list-group-radio .form-check-input {
  z-index: 2;
  margin-top: -.5em;
}
.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
  background-color: var(--bs-secondary-bg);
}

.list-group-radio .form-check-input:checked + .list-group-item {
  background-color: var(--bs-body);
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 2px var(--bs-primary);
}
.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
  pointer-events: none;
  filter: none;
  opacity: .5;
}


</style>
<div class="container-xxl">
    <div class="container px-4 py-5 pt-5 pb-0 mt-4" id="custom-cards">
      {% if connected_camera_data %}
        <h2 class="pb-2 border-bottom">Connected Camera Information</h2>
        
            <div class="row row-cols-1 row-cols-md-2 g-5 py-5">
              <div class="col d-flex flex-column align-items-start flex-column align-items-center justify-content-center" style="margin-top:0px;">
                <div class="card mb-3" style="width: 18rem;" >
                 <img src="{{ url_for('static', filename='img/' + connected_camera_data.sensor_model + '.jpg') }}" alt="{{ connected_camera_data.sensor_model }} Image" >
                
                </div>

                <!--<img src="{{ url_for('static', filename='img/' + connected_camera_data.sensor_model + '.jpg') }}" alt="{{ connected_camera_data.sensor_model }} Image">-->
                <h2 class="fw-bold text-body-emphasis">{{ connected_camera_data.module_name }}</h2>
                <p class="text-body-secondary">
                  {{ connected_camera_data.manufacturer }} {{ connected_camera_data.sensor_model }}
                </p>
                

                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                  <div class="list-group list-group-radio d-grid gap-2 border-0">
                    {% for mode in camera_modes %}
                    <div class="position-relative">
                      <input class="form-check-input position-absolute top-50 end-0 me-3 fs-5" type="radio" name="sensor-mode" id="sensor-mode{{ loop.index0 }}" onclick="adjustCheckboxSetting('sensor-mode', '{{ loop.index0 }}')">
                      <label class="list-group-item py-3 pe-5" for="sensor-mode{{ loop.index0 }}">
                        <strong class="fw-semibold">Mode {{ loop.index0 }}</strong>
                        <span class="d-block small opacity-75">Resolution: {{ mode['size'] }}</span>
                        <span class="d-block small opacity-75">FPS: {{ mode['fps'] }}</span>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            

              </div>

              <div class="col" style="margin-top: 0px;">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                  <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Megapixels</th>
                            <td>{{ connected_camera_data.megapixels }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Sensor Resolution</th>
                            <td>{{ connected_camera_data.sensor_resolution }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Video Modes</th>
                            <td>{{ connected_camera_data.video_modes }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Sensor Image Area</th>
                          <td>{{ connected_camera_data.sensor_image_area }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Pixel Size</th>
                          <td>{{ connected_camera_data.pixel_size }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Optical Size</th>
                          <td>{{ connected_camera_data.optical_size }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Focus</th>
                          <td>{{ connected_camera_data.focus }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Depth of field</th>
                          <td>{{ connected_camera_data.dof }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Focal Length</th>
                          <td>{{ connected_camera_data.focal_length }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Horizontal Field of View (FoV)</th>
                          <td>{{ connected_camera_data.horizontal_fov }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Vertical Field of View (FoV)</th>
                          <td>{{ connected_camera_data.vertical_fov }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Focal ratio (F-Stop)</th>
                          <td>{{ connected_camera_data.f_stop }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Maximum exposure times (seconds)</th>
                          <td>{{ connected_camera_data.max_exposure_time }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Lens Mount</th>
                          <td>{{ connected_camera_data.lens_mount }}</td>
                        </tr>
                        <tr>
                          <th scope="row">NoIR version available?</th>
                          <td>{{ connected_camera_data.got_noir }}</td>
                        </tr>
                        <!-- Add more rows for additional properties -->
                    </tbody>
                </table>
                </div>
              </div>
            </div>
            {% else %}
            <p>Error: Camera module data not found</p>
        {% endif %}
  </div>
</div>
 


<script>
document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM content loaded');

    // Parse the JSON string into a JavaScript object
    var sensor_mode = {{ sensor_mode | tojson }};
    
    console.log(camera_num);
    
    updateUI({ 'sensor-mode': sensor_mode });

});

const checkboxSettings = ['sensor-mode'];
var camera_num = {{ camera_num }}


function updateUI(settings) {
    for (const key in settings) {
        if (checkboxSettings.includes(key)) {
                console.log(settings[key]);
                console.log(settings);
                // Update checkboxes
                const checkboxes = document.getElementsByName(key);
                console.log(checkboxes);
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace(key, ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else {
                console.log(`Skipping unknown setting: ${key}`);
            }
    }
}

function adjustCheckboxSetting(settingId, selection) {
    // Convert settingValue to an integer
    const settingValue = parseInt(selection);
    // Update UI with the new value
    updateUI({ [settingId]: settingValue });
    // Update server settings
    updateLiveSettings({ [settingId]: settingValue });
    // Notify console
    console.log(settingId, 'changed:', settingValue);
}

// Function to update server settings and UI
function updateLiveSettings(data) {
    console.log(data);
    return fetch('/update_live_settings_' + camera_num, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}





</script>

{% endblock %}
