{% extends 'base.html' %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-lg-8 pt-5">
            <!-- ###### Main Content ###### -->
            <h2 class="pt-4 pb-2 mb-4 border-bottom">Camera Feed</h2>
            <img class="img-fluid" id="cameraImage" alt="Camera Feed">
            <div class="pt-3 row">
                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-success btn-lg" id="captureButton" onclick="capturePhoto()">Capture Image</button>
                </div>
                <div class="col-8">
                    <div id="captureAlert" class="alert" role="alert" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pt-5 pb-4 overflow-y-scroll" style="height: 100vh; height: -webkit-fill-available; max-height: 100vh; overflow-x: auto; overflow-y: hidden;">
            <!-- ###### Side Bar ###### -->
            <div class="accordion pt-4" id="accordionExample">
            <!-- ###### Orientation Settings ###### -->
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#orientationSettings" aria-expanded="false" aria-controls="orientationSettings">
                    Orientation Settings
                </button>
                </h2>
                <div id="orientationSettings" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!-- Orientation -->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="hflip">
                            <label class="form-check-label" for="hflip">Horazontal Flip</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="vflip">
                            <label class="form-check-label" for="vflip">Vertical Flip </label>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="adjustflip()">Set</button>
                        <!-- End of Line-->
                    </div>
                </div>
            </div>
            {% if settings_from_camera['AfMode'] or settings_from_camera['LensPosition'] or settings_from_camera['AfRange'] or settings_from_camera['AfSpeed'] %}
            <!-- ###### Auto Focus Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Auto Focus Settings
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if 'AfMode' in settings_from_camera %}
                            <!-- AfMode -->
                            <p>Auto Focus Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode0" onclick="adjustCheckboxSetting('AfMode', '0')">
                                <label class="form-check-label" for="AfMode0">Manual</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode1" onclick="adjustCheckboxSetting('AfMode', '1')">
                                <label class="form-check-label" for="AfMode1">Auto</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfMode" id="AfMode2" onclick="adjustCheckboxSetting('AfMode', '2')">
                                <label class="form-check-label" for="AfMode2">Continuous</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'LensPosition' in settings_from_camera %}
                            <!-- LensPosition -->
                            <div class="form-group" id="LensPositionContainer">
                                <label for="LensPosition" class="form-label" id="currentLensPosition">Lens Position:</label>
                                <input type="range" class="form-range" min="0.0" max="10.0" step="0.1" id="LensPosition" onchange="adjustSliderSetting('LensPosition', this.value)">
                                <div class="form-text" id="basic-addon4">In dioptres (1 / distance in metres)</div>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AfRange' in settings_from_camera %}
                            <!-- AfRange -->
                            <p>Auto Focus Range:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange0" onclick="adjustCheckboxSetting('AfRange', '0')">
                                <label class="form-check-label" for="AfRange0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange1" onclick="adjustCheckboxSetting('AfRange','1')">
                                <label class="form-check-label" for="AfRange1">Macro</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfRange" id="AfRange2" onclick="adjustCheckboxSetting('AfRange','2')">
                                <label class="form-check-label" for="AfRange2">Full</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AfSpeed' in settings_from_camera %}
                            <!-- AfSpeed -->
                            <p>Auto Focus Speed:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfSpeed" id="AfSpeed0" onclick="adjustCheckboxSetting('AfSpeed','0')">
                                <label class="form-check-label" for="AfSpeed0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AfSpeed" id="AfSpeed1" onclick="adjustCheckboxSetting('AfSpeed','1')">
                                <label class="form-check-label" for="AfRange1">Fast</label>
                            </div>
                            {% endif %}
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>
                {% endif %}

            {% if settings_from_camera['AeEnable'] or settings_from_camera['AeConstraintMode'] or settings_from_camera['AeExposureMode'] or settings_from_camera['AeFlickerMode'] or settings_from_camera['AeFlickerPeriod'] or settings_from_camera['AeMeteringMode'] or settings_from_camera['ExposureTime'] or settings_from_camera['ExposureValue'] %}
            <!-- ###### Gain and Exposure Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Gain and Exposure Settings
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if 'AeEnable' in settings_from_camera %}
                            <!-- AeEnable -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="AeEnable" onchange="adjustSwitchSetting('AeEnable')">
                                <label class="form-check-label" for="AeEnable">Enable Changes to AEC/AGC algorithm</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AeConstraintMode' in settings_from_camera %}
                            <!-- AeConstraintMode -->
                            <p>AE Constraint Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode0" onclick="adjustCheckboxSetting('AeConstraintMode', '0')">
                                <label class="form-check-label" for="AeConstraintMode0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode1" onclick="adjustCheckboxSetting('AeConstraintMode', '1')">
                                <label class="form-check-label" for="AeConstraintMode1">Highlight</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode2" onclick="adjustCheckboxSetting('AeConstraintMode', '2')" disabled>
                                <label class="form-check-label" for="AeConstraintMode2">Shadows</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeConstraintMode" id="AeConstraintMode3" onclick="adjustCheckboxSetting('AeConstraintMode', '3')" disabled>
                                <label class="form-check-label" for="AeConstraintMode3">Custom</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AeExposureMode' in settings_from_camera %}
                            <!-- AeExposureMode -->
                            <p>AE Exposure Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode0" onclick="adjustCheckboxSetting('AeExposureMode', '0')">
                                <label class="form-check-label" for="AeExposureMode0">Normal</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode1" onclick="adjustCheckboxSetting('AeExposureMode', '1')">
                                <label class="form-check-label" for="AeExposureMode1">Short</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode2" onclick="adjustCheckboxSetting('AeExposureMode', '2')">
                                <label class="form-check-label" for="AeExposureMode2">Long</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeExposureMode" id="AeExposureMode3" onclick="adjustCheckboxSetting('AeExposureMode', '3')" disabled>
                                <label class="form-check-label" for="AeExposureMode3">Custom</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AeFlickerMode' in settings_from_camera %}
                            <!-- AeFlickerMode -->
                            <p>AE Flicker Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeFlickerMode" id="AeFlickerMode0" onclick="adjustCheckboxSetting('AeFlickerMode', '0')">
                                <label class="form-check-label" for="AeFlickerMode0">Off</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeFlickerMode" id="AeFlickerMode1" onclick="adjustCheckboxSetting('AeFlickerMode', '1')">
                                <label class="form-check-label" for="AeFlickerMode1">Manual</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AeFlickerPeriod' in settings_from_camera %}
                            <!-- AeFlickerPeriod -->
                            <label for="AeFlickerPeriod" class="form-label">AE Flicker Period:</label>
                            <div class="input-group mb-3 has-validation ">
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" id="AeFlickerPeriod">
                                    <label for="floatingInputValue">Value in microseconds</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="button-ExposureTime" onclick="adjustNumericSetting('AeFlickerPeriod')">Set</button>
                            </div>    
                            <div class="form-text" id="AeFlickerPeriodRange"></div>                     
                            <hr>
                            {% endif %}
                            {% if 'AeMeteringMode' in settings_from_camera %}
                            <!-- AeMeteringMode -->
                            <p>AE Metering Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode0" onclick="adjustCheckboxSetting('AeMeteringMode', '0')">
                                <label class="form-check-label" for="AeMeteringMode0">Centre Weighted</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode1" onclick="adjustCheckboxSetting('AeMeteringMode', '1')">
                                <label class="form-check-label" for="AeMeteringMode1">Short</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode2" onclick="adjustCheckboxSetting('AeMeteringMode', '2')">
                                <label class="form-check-label" for="AeMeteringMode2">Matrix</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AeMeteringMode" id="AeMeteringMode3" onclick="adjustCheckboxSetting('AeMeteringMode', '3')" disabled>
                                <label class="form-check-label" for="AeMeteringMode3">Custom</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'ExposureTime' in settings_from_camera %}
                            <!-- ExposureTime -->
                            <label for="ExposureTime" class="form-label">Exposure Time:</label>
                            <div class="input-group has-validation mb-3">
                                <div class="form-floating">
                                    <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="button-addon2" id="ExposureTime">
                                    <label for="floatingInputValue">Value in microseconds</label>
                                </div>
                                <button class="btn btn-outline-secondary" type="button" id="button-ExposureTime" onclick="adjustNumericSetting('ExposureTime')">Set</button>
                            </div> 
                            <div class="form-text" id="ExposureTimeRange"></div>                         
                            <hr>
                            {% endif %}
                            {% if 'ExposureValue' in settings_from_camera %}
                            <!-- ExposureValue -->
                            <div class="form-group">
                                <label for="ExposureValue" class="form-label" id="currentExposureValue">Exposure Compensation:</label>
                                <input type="range" class="form-range" min="-8.0" max="8.0" step="0.1" id="ExposureValue" onchange="adjustSliderSetting('ExposureValue', this.value)">
                            </div>
                            {% endif %}
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if settings_from_camera['AwbEnable'] or settings_from_camera['AwbMode'] %}
            <!-- ###### Auto White Balance Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Auto White Balance Settings
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if 'AwbEnable' in settings_from_camera %}
                            <!-- AwbEnable -->
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="AwbEnable" onchange="adjustSwitchSetting('AwbEnable')">
                                <label class="form-check-label" for="AwbEnable">Enable AWB algorithm</label>
                            </div>
                            <hr>
                            {% endif %}
                            {% if 'AwbMode' in settings_from_camera %}
                            <!-- AwbMode -->
                            <p>(AWB) White Balance Mode:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode0" onclick="adjustCheckboxSetting('AwbMode', '0')">
                                <label class="form-check-label" for="AwbMode0">Auto</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode1" onclick="adjustCheckboxSetting('AwbMode', '1')">
                                <label class="form-check-label" for="AwbMode1">Tungsten</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode2" onclick="adjustCheckboxSetting('AwbMode', '2')">
                                <label class="form-check-label" for="AwbMode2">Fluorescent</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode3" onclick="adjustCheckboxSetting('AwbMode', '3')">
                                <label class="form-check-label" for="AwbMode3">Indoor</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode4" onclick="adjustCheckboxSetting('AwbMode', '4')">
                                <label class="form-check-label" for="AwbMode4">Daylight</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode5" onclick="adjustCheckboxSetting('AwbMode', '5')">
                                <label class="form-check-label" for="AwbMode4">Cloudy</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="AwbMode" id="AwbMode6" onclick="adjustCheckboxSetting('AwbMode', '6')" disabled>
                                <label class="form-check-label" for="AwbMode4">Custom</label>
                            </div>
                            {% endif %}
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>
                {% endif %}

            <!-- ###### Brightness & Contrast Settings ###### -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Brightness & Contrast Settings
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Brightness -->
                            <div class="form-group">
                                <label for="brightness" class="form-label" id="currentBrightness">Brightness:</label>
                                <input type="range" class="form-range" min="-1.0" max="1.0" step="0.1" id="Brightness" onchange="adjustSliderSetting('Brightness', this.value)">
                            </div>
                            <hr>
                            <!-- Contrast -->
                            <div class="form-group">
                                <label for="contrast" class="form-label" id="currentContrast">Contrast:</label>
                                <input type="range" class="form-range" min="0.0" max="32.0" step="1.0" id="Contrast" onchange="adjustSliderSetting('Contrast', this.value)">
                            </div>
                            <hr>
                            <!-- Saturation -->
                            <div class="form-group">
                                <label for="saturation" class="form-label" id="currentSaturation">Saturation:</label>
                                <input type="range" class="form-range" min="0.0" max="32.0" step="1.0" id="Saturation" onchange="adjustSliderSetting('Saturation', this.value)">
                            </div>
                            <hr>
                            <!-- Sharpness -->
                            <div class="form-group">
                                <label for="sharpness" class="form-label" id="currentSharpness">Sharpness:</label>
                                <input type="range" class="form-range" min="0.0" max="16.0" step="0.1" id="Sharpness" onchange="adjustSliderSetting('Sharpness', this.value)">
                            </div>
                            <!-- End of Line-->
                        </div>
                    </div>
                </div>

            </div>
            <ul class="list-group pt-3">
                <li class="list-group-item active" aria-current="true">Settings Controls</li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary" onclick="resetsettings()" style="margin: 0.25rem 0.125rem;">Reset Default Settings</button>
                    <button type="button" class="btn btn-primary" onclick="saveSettings()" style="margin: 0.25rem 0.125rem;">Save Current Settings</button>
                </li>
            </ul>
        </div>
        
    </div>
</div>
 
  
  
  


<script>
document.addEventListener('DOMContentLoaded', function () {
    console.log('DOM content loaded');

    // Parse the JSON string into a JavaScript object
    var liveSettings = {{ live_settings | tojson }};
    var restartSettings = {{ restart_settings | tojson }};
    var settings_from_camera = {{ settings_from_camera | tojson }};
    console.log(restartSettings);
    // Call the updateUI

    setrange(settings_from_camera);
    updateUI(liveSettings);
    updateUI(restartSettings);
});

document.addEventListener('DOMContentLoaded', function () {
        // Get the image element
        const cameraImage = document.getElementById('cameraImage');

        // Set the source attribute to start loading the image
        cameraImage.src = "{{ url_for('video_feed') }}";
    });

document.addEventListener('visibilitychange', function() {
        if (document.visibilityState === 'visible') {
            // Page is visible, reload the camera feed
            refreshCameraFeed();
        }
    });

    const checkboxSettings = ['AfMode', 'AfRange', 'AfSpeed', 'AeConstraintMode', 'AeExposureMode', 'AeFlickerMode', 'AeMeteringMode', 'AwbMode'];
    const switchSettings = ['AwbEnable', 'AeEnable', 'AwbMode', 'hflip', 'vflip'];
    const sliderSettings = ['LensPosition', 'ExposureValue', 'Brightness', 'Contrast', 'Saturation', 'Sharpness'];
    const inputSettings = ['ExposureTime', 'AeFlickerPeriod']

function setrange(settings_from_camera) {
    for (const key in settings_from_camera) {
        const setting = settings_from_camera[key];
        const min = setting[0];
        const max = setting[1];
        const defaultValue = setting[2]; 
        if (sliderSettings.includes(key)) {
                const elementId = document.getElementById(key);
                if (elementId) {
                    elementId.min = min;
                    elementId.max = max;
                    elementId.value = defaultValue;
                    const rangeElementId = document.getElementById(`current${key}`);
                    if (key === 'LensPosition') {
                        rangeElementId.innerHTML = `Lens Position: ${defaultValue}`;
                    } else if (key === 'ExposureValue') {
                        rangeElementId.innerHTML = `Exposure Compensation: ${defaultValue}`;
                    } else {
                        rangeElementId.innerHTML = `${key}: ${defaultValue}`;
                    }  
                }
            } else if (inputSettings.includes(key)) {
                const elementId = document.getElementById(key);
                if (elementId) {
                    elementId.min = min;
                    elementId.max = max;
                    elementId.value = defaultValue;
                    const rangeElementId = document.getElementById(`${key}Range`);
                    rangeElementId.innerHTML = `Please enter a value between ${min} and ${max}`;
                }
            } else {
                console.log(`Skipping setting: ${key}`);
            }
    }
}

function updateUI(settings) {
    for (const key in settings) {
        if (checkboxSettings.includes(key)) {
            console.log(`UpdateUI setting: ${settings[key]}`);
                // Update checkboxes for AfMode
                const checkboxes = document.getElementsByName(key);
                checkboxes.forEach(checkbox => {
                    const checkboxValue = parseInt(checkbox.id.replace(key, ''));
                    checkbox.checked = settings[key] === checkboxValue;
                });
            } else if (switchSettings.includes(key)) {
                // Update the switch state
                const switchbox = document.getElementById(key);
                if (switchbox) {
                    switchbox.checked = settings[key];
                }
            } else if (sliderSettings.includes(key)) {
                document.getElementById(key).value = settings[key];
                const slider = document.getElementById(`current${key}`);
                if (key === 'LensPosition') {
                    slider.innerText = `Lens Position: ${settings[key]}`;
                } else if (key === 'ExposureValue') {
                    slider.innerText = `Exposure Compensation: ${settings[key]}`;
                } else {
                    slider.innerText = `${key}: ${settings[key]}`; 
                }
            } else if (inputSettings.includes(key)) {
                const input = document.getElementById(key);
                if (input) {
                    input.value = settings[key];
                }
            } else {
                console.log(`Skipping unknown setting: ${key}`);
            }
    }
}

////////////////////////////////////
// Live Settings 

// Function to update server settings and UI
function updateLiveSettings(data) {
    return fetch('/update_live_settings', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}

function adjustSwitchSetting(settingId) {
    // Get the current state of the switch
    const inputElement = document.getElementById(settingId);
    const selection = inputElement.checked;
    // Update server settings
    updateLiveSettings({ [settingId]: selection });
    // Notify console
    console.log(settingId, 'changed:', selection);
}

function adjustCheckboxSetting(settingId, selection) {
    // Convert settingValue to an integer
    const settingValue = parseInt(selection);
    // Update UI with the new value
    updateUI({ [settingId]: settingValue });
    // Update server settings
    updateLiveSettings({ [settingId]: settingValue });
    // Notify console
    console.log(settingId, 'changed:', settingValue);
}

function adjustSliderSetting(settingId, selection) {
    // Convert settingValue to an float
    const settingValue = parseFloat(selection);
    // Update UI with the new value
    updateUI({ [settingId]: settingValue });
    // Update server settings
    updateLiveSettings({ [settingId]: settingValue });
    // Notify console
    console.log(settingId, 'changed:', settingValue);
}

function adjustNumericSetting(settingId) {
    // Handle the input change here
    const inputElement = document.getElementById(settingId);
    const setValue = parseFloat(inputElement.value); // Convert to a number
    // Get the min and max values from the input element
    const minValue = parseFloat(inputElement.min);
    const maxValue = parseFloat(inputElement.max);
    // Check if the entered value is within the valid range
    if (setValue < minValue || setValue > maxValue || isNaN(setValue)) {
        // Add 'invalid' class to the input element
        inputElement.classList.add('is-invalid');
    } else {
        // Remove 'invalid' class and error message div if they exist
        inputElement.classList.remove('is-invalid');
        // Update UI and server settings
        updateUI({ [settingId]: setValue });
        updateLiveSettings({ [settingId]: setValue });
    }
}

function resetsettingsold() {
    // Handle the input change here
    const modeInt = document.getElementById('ExposureTime').value;
    updateUI(liveSettings)
    console.log("Balls");
}

// Function to update server settings and UI
function resetsettings() {
        fetch('/reset_default_live_settings')
            .then(response => response.json())
            .then(data => {
        console.log('Settings received:', data);

        // Access live_settings and restart_settings
        const live_settings = data.data1;
        const restart_settings = data.data2;

        console.log('Data 1:', live_settings);
        console.log('Data 2:', restart_settings);
        // Update UI with live_settings
        updateUI(live_settings);
        updateUI(restart_settings);
        refreshCameraFeed();
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}

function saveSettings() {
    fetch('/save_settings', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings saved:', data);
        // You can display a message or update the UI as needed
    })
    .catch(error => {
        console.error('Error saving settings:', error);
        // Handle the error
    });
}

////////////////////////////////////
// Take a Picture functions

let captureButton = document.getElementById('captureButton');
let isButtonEnabled = true;

function enableCaptureButton() {
    isButtonEnabled = true;
    captureButton.disabled = false;
}

function capturePhoto() {
    if (!isButtonEnabled) {
        return;
    }

    // Disable the button to prevent rapid presses
    captureButton.disabled = true;
    isButtonEnabled = false;
    // Show alert based on the condition
    const alertElement = document.getElementById('captureAlert');

    // Call your capture_photo function here
    fetch('/capture_photo', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        // Handle the success response here
        console.log(data);

        // Re-enable the button after a successful response
        enableCaptureButton();
        // Success alert
        alertElement.className = 'alert alert-success';
        alertElement.textContent = 'Image saved successfully.';
    })
    .catch(error => {
        // Handle the error response here
        console.error('Error capturing photo:', error);
        // Error alert
        alertElement.className = 'alert alert-danger';
        alertElement.textContent = 'Error capturing photo.';
        // Re-enable the button in case of an error
        enableCaptureButton();
    });
    alertElement.style.display = 'block';

    // Optional: Hide the alert after a few seconds
    setTimeout(() => {
        alertElement.style.display = 'none';
    }, 5000); // Adjust the time as needed
}


////////////////////////////////////
// Feed Restarting Settings 
// Function to update server settings and UI
function updateRestartSettings(data) {
    return fetch('/update_restart_settings', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Settings updated:', data);
        // Update UI with the new settings
        // updateUI(data);
        // Return the data to the next chain
        return data;
    })
    .catch(error => {
        console.error('Error updating settings:', error);
        throw error;  // Re-throw the error for the next catch
    });
}
// Function to refresh the camera feed
function refreshCameraFeed() {
  const imageElement = document.getElementById('cameraImage');
  if (imageElement) {
    // Get the full resolution of the image
    const fullResolutionWidth = imageElement.naturalWidth;
    const fullResolutionHeight = imageElement.naturalHeight;

    // Calculate the aspect ratio
    const aspectRatio = fullResolutionWidth / fullResolutionHeight;

    // Set the width to 100% and calculate the height based on the aspect ratio
    imageElement.style.width = '100%';
    imageElement.style.height = `${imageElement.offsetWidth / aspectRatio}px`;
    cameraImage.src = `${cameraImage.src.split('?')[0]}?${new Date().getTime()}`;

  }
}

function adjustflip(mode) {
    // Convert mode to an integer
    const hflipswitch = document.getElementById('hflip');
    const hflipValue = hflipswitch.checked ? 1 : 0;  // Convert true to 1, false to 0
    const vflipswitch = document.getElementById('vflip');
    const vflipValue = vflipswitch.checked ? 1 : 0;  // Convert true to 1, false to 0
    // Update UI with the new value
    updateUI({ hflip: hflipValue, vflip: vflipValue });
    // Update server settings and wait for it to complete
    updateRestartSettings({ hflip: hflipValue, vflip: vflipValue })
        .then(() => {
            // Refresh the camera feed after updating server settings
            refreshCameraFeed();
        })
        .catch(error => {
            console.error('Error updating server settings:', error);
            // Handle the error if needed
        });
}

</script>

{% endblock %}

