{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5 pt-5 pb-0 mt-4">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Connected Cameras</h1>
      <hr>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        
      {% for camera_num, camera, model, camera_module_info in camera_list %}
      <div class="col">
      <div class="card">
          <img id="pimage_preview_{{ camera_num }}" src="{{ url_for('static', filename='gallery/snapshot/pimage_preview_' + camera_num|string + '.jpg') }}" class="card-img-top" style="max-height: 200px; object-fit: cover;" alt="..." onerror="this.onerror=null; this.src='{{ url_for('static', filename='gallery/snapshot/default_preview.svg') }}';">

        <div class="card-body text-center">
          <div style="position:absolute; margin-top:-70px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;">
          <img class="shadow rounded-circle" style="" src="{{ url_for('static', filename='img/' + model|string + '.jpg') }}" width="100" alt="...">
        </div>
          <h5 class="card-title mt-5">{{ camera_module_info.module_name }}</h5>
          <p class="card-text">{{ camera_module_info.manufacturer }} {{ model }}</p>
          <p>Detected as Camera {{ camera_num }}</p>
        </div>
        
        <div class="card-footer">
          <div class="container text-center">
            <div class="row align-items-end">
          <div class="col text-start p-0">
            <button type="button" class="btn btn-primary" id="captureButton" onclick="capturePreview({{ camera_num }})">Update Preview</button>
          </div>
          <!--<div class="col text-end p-0">
          <div class="btn-group text-end" role="group">
            <a href="{{ url_for('video_feed', camera_num=camera_num) }}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
            <button type="button" class="btn btn-primary"><i class="bi bi-info-circle"></i></button>
            <button type="button" class="btn btn-primary"><i class="bi bi-gear"></i></button>
          </div>
          </div>-->
        </div>
      </div>
        </div>
      </div>
</div>
      {% endfor %}
</div>
      
  </div>
  </div>
  </div>
  
<script>

let captureButton = document.getElementById('captureButton');
let isButtonEnabled = true;

function enableCaptureButton() {
    isButtonEnabled = true;
    captureButton.disabled = false;
}

function capturePreview(camera_num) {
    if (!isButtonEnabled) {
        return;
    }

    // Disable the button to prevent rapid presses
    captureButton.disabled = true;
    isButtonEnabled = false;
    // Show alert based on the condition
    // const alertElement = document.getElementById('captureAlert');

    // Call your capture_photo function here
    fetch('/preview_'+ camera_num, {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        // Handle the success response here
        console.log(data);

        // Re-enable the button after a successful response
        enableCaptureButton();
        const filename=`/static/gallery/snapshot/pimage_preview_${camera_num}.jpg`
        console.log(filename)
        $(`#pimage_preview_${camera_num}`).attr('src', `${filename}?${new Date().getTime()}`);
        
        // Success alert
        //alertElement.className = 'alert alert-success';
        //alertElement.textContent = 'Image saved successfully.';
    })
    .catch(error => {
        // Handle the error response here
        console.error('Error capturing photo:', error);
        // Error alert
        //alertElement.className = 'alert alert-danger';
        //alertElement.textContent = 'Error capturing photo.';
        // Re-enable the button in case of an error
        enableCaptureButton();
    });
    //alertElement.style.display = 'block';

    // Optional: Hide the alert after a few seconds
    //setTimeout(() => {
    //    alertElement.style.display = 'none';
    //}, 5000); // Adjust the time as needed
}

</script>
 
{% endblock %}
