{% extends "base.html" %}

{% block content %}
<div class="container px-4 py-5 pt-5 pb-0 mt-4">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Connected Cameras</h1>
      <hr>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        

      {% for camera_num, camera, model, camera_module_info in camera_list %}
      <div class="col">
      <div class="card">
          <img src="{{ url_for('static', filename='gallery/snapshot/pimage_snapshot_' + camera_num|string + '.jpg') }}" class="card-img-top" alt="..." onerror="this.onerror=null; this.src='{{ url_for('static', filename='gallery/pimage_1709139459.jpg') }}';">

        <div class="card-body text-center">
          <div style="position:absolute; margin-top:-70px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;">
          <img class="shadow rounded-circle" style="" src="{{ url_for('static', filename='img/' + model|string + '.jpg') }}" width="100" alt="...">
        </div>
          <h5 class="card-title mt-5">{{ camera_module_info.module_name }}</h5>
          <p class="card-text">{{ camera_module_info.manufacturer }} {{ model }}</p>
          <p>Detected as Camera {{ camera_num }}</p>
        </div>
        <div class="card-footer text-end">
          <div class="btn-group text-end" role="group">
            <a href="{{ url_for('video_feed', camera_num=camera_num) }}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
            <button type="button" class="btn btn-primary"><i class="bi bi-info-circle"></i></button>
            <button type="button" class="btn btn-primary"><i class="bi bi-gear"></i></button>
          </div>
        </div>
      </div>
</div>
      {% endfor %}
</div>
      
  </div>
  </div>
  </div>
  

 
{% endblock %}
