{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row p-4 align-items-center rounded-3 border shadow-lg">
      <div class="col p-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1 text-body-emphasis">Connected Cameras</h2>
        <hr>
        <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for camera_info, camera_module_info in camera_list %}
        <div class="col">
        <div class="card">
            <img id="pimage_preview_{{ camera_info.Num }}" src="{{ url_for('static', filename='gallery/snapshot/pimage_preview_' + camera_info.Num|string + '.jpg') }}" class="card-img-top" style="max-height: 200px; object-fit: cover;" alt="..." onerror="this.onerror=null; this.src='{{ url_for('static', filename='gallery/snapshot/default_preview.svg') }}';">
          <!-- Badge positioned in the top-right corner -->
          <span id="captureButton_{{ camera_info.Num }}" class="badge bg-primary position-absolute top-0 end-0 m-2 fs-6"
          onclick="capturePreview({{ camera_info.Num }})" style="cursor: pointer;">
          <i class="bi bi-arrow-repeat"></i>
      </span>
          <div class="card-body p-0">
            <div style="position:absolute; margin-top:-50px; left:50%; width:100px; height:100px;margin-left:-50px; text-align:center;">
            <img class="shadow rounded-circle" id="Camera: {{ camera_info.Model }}" src="{{ url_for('static', filename='img/' + camera_info.Model|string + '.jpg') }}" width="100" alt="..." onerror="this.onerror=null; this.src='{{ url_for('static', filename='img/unknown.jpg') }}';">
          </div>
          <br>
            <h5 class="card-title mt-5 text-center">{{ camera_module_info.module_name }}</h5>
            <p class="card-text text-center">{{ camera_module_info.manufacturer }} {{ camera_info.Model }}</p>
            <p class="card-text text-center">Detected as Camera {{ camera_info.Num }}</p>
            <br>
          </div>
            <div class="list-group list-group-flush">
              <a href="/camera_{{ camera_info.Num }}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Camera - Desktop</h5>
                  <small class="fs-3 bi bi-camera position-absolute top-0 end-0 pe-3"></small>
                </div>
                <p class="mb-1">View camera in desktop mode allowing you to select all camera settings and links for streaming</p>
                <small class="text-body-secondary"></small>
                
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Timelapse</h5>
                  <small class="fs-3 bi bi-clock-history position-absolute top-0 end-0 pe-3"></small>
                </div>
                <p class="mb-1">Settings for timelapse mode - Video will be disabled when timelapse is running.</p>
                <small class="text-body-secondary">Disabled work in progress</small>
              </a>
            </div>
          
          
          <div class="card-footer">
            <div class="container text-center">
              <div class="row align-items-end">
            <div class="col text-start p-0">
        

            </div>
            
          </div>
        </div>
          </div>
        </div>
  </div>
        {% endfor %}
  </div>
        
    </div>
    </div>
    </div>
    
<script>
let captureButton = document.getElementById('captureButton');
let isButtonEnabled = true;

function enableCaptureButton() {
    isButtonEnabled = true;
    captureButton.disabled = false;
}

function capturePreview(camera_num) {
    let captureButton = document.getElementById(`captureButton_${camera_num}`);
    if (!captureButton) {
        console.error(`Button for camera ${camera_num} not found`);
        return;
    }

    // Disable the button to prevent rapid presses
    captureButton.disabled = true;

    fetch('/preview_' + camera_num, {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);

        // Re-enable the button after a successful response
        captureButton.disabled = false;

        // Refresh preview image
        const filename = `/static/gallery/snapshot/pimage_preview_${camera_num}.jpg`;
        document.getElementById(`pimage_preview_${camera_num}`).src = `${filename}?${new Date().getTime()}`;
    })
    .catch(error => {
        console.error('Error capturing photo:', error);
        captureButton.disabled = false;
    });
}


</script>
 
{% endblock %}
